<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버 정보</title>
</head>
<body>
<h1>멤버 정보</h1>
<h2 th:if="${param.status}" th:text="'POST 완료!'"></h2>
<p th:text="${member.memberName}"></p>
<p th:text="${member.age}"></p>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My page</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/members/${member.id}/update|}">회원 정보 수정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원 탈퇴</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>&lt;!&ndash; /container &ndash;&gt;
&lt;!&ndash; radio button &ndash;&gt;
<div>
    <div>성별</div>
    <div th:each="type : ${genderTypes}" class="form-check form-check-inline">
        <input type="radio" th:field="${member.genderType}" th:value="${type.name()}"
               class="form-check-input" disabled>
        <label th:for="${#ids.prev('genderType')}" th:text="${type.description}"
               class="form-check-label">
            MALE
        </label>
    </div>
</div>

<div>
    <div>거주 지역 선택</div>
    <select th:field="${member.regionTypeCode}" class="form-select" disabled>
        <option value="">==거주 지역 선택==</option>
        <option th:each="region : ${regionTypeCodes}" th:value="${region.code}"
                th:text="${region.displayName}">서울</option>
    </select>
</div>

<form action="/" method="get">
    <button type="submit">홈으로</button>
</form>

</body>
</html>-->
