<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판 서비스</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/boards/create}'|"
                    type="button">게시글 작성</button>

            <h4 class="mb-3" th:text="|회원 ID: ${member.loginId}|">로그인 ID</h4>

        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>제목</th>
                <th>유형</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="home.html" th:href="@{/boards/board/{boardId}(boardId=${board.id})}" th:text="${board.id}">1</a></td>
                <td><a href="home.html" th:href="@{/boards/board/{boardId}(boardId=${board.id})}" th:text="${board.author}">mark</a></td>
                <td><a href="home.html" th:href="@{/boards/board/{boardId}(boardId=${board.id})}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.boardTypeCode}">ETC</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>